/* ========================= */
/* HEADER.PHP                */
/* ========================= */

/* Navigation Bar */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #fff;
}

.navbar {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  padding-left: 10px;
  padding-right: 10px;
  top: 0;
  z-index: 10;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-left, .nav-mid, .nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-mid a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: 0.2s;
}

.nav-mid a:hover {
  color: #0077b6;
}

.logo {
  width:70px;
}

.icon {
  height: 25px;
  cursor: pointer;
}

/* Footer */
.footer{
  background-color: rgb(0, 162, 255);
  color: white;
  padding-top: 100px;
  padding-bottom: 5px;
}




/* ANIMASI */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}





/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .nav-mid {
    gap: 15px;
  }

  .modal-content {
    width: 90%;
    padding: 25px 30px;
  }
}




/* =================== */
/* INDEX.PHP           */
/* =================== */

/* Hero */
.hero{
  padding-bottom: 100px;
}

.hero-image img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.banner{
  width:100%;
  height: 70%;
}

main{
  margin: 100px;
}

.destinasi{
  margin-bottom: 150px;
}

.rencana-perjalanan{
  margin-bottom: 150px;
}

/* Tombol Kategori */
.btn-kategori {
    border: none;
    background: #0077b6;
    color: #fff;
    padding: 10px 18px;
    border-radius: 20px;
    margin: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: .2s;
}

.btn-kategori:hover {
    background: #0096c7;
}

/* Wisata */
.card-wisata-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-wisata {
    width: 250px;
    background: #ffffff;
    border-radius: 12px;
    padding-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .2s; 
}

.card-footer{
  padding : 10px;
}

.card-wisata:hover {
    transform: translateY(-5px);
}

.card-wisata img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-wisata h3 {
    margin: 10px;
    color: #0077b6;
}

.container-rencana-perjalanan{
    display:flex;
    gap: 30px;
    justify-content: space-between;
}

.card-rencana-perjalanan{
    width: 500px;
    background: #ffffff;
    border-radius: 12px;
    padding-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .2s; 
}

.card-rencana-perjalanan a img{
    width: 100%;
}

.card-rencana-perjalanan h3{
    padding-left: 10px;
}




/* =========================== */
/* GET_WISATA.PHP              */
/* =========================== */

.btn-detail {
    margin-left: 10px;
    display: inline-block;
    padding: 7px 12px;
    background: #00a86b;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}





/* =========================== */
/* DETAIL.PHP                  */
/* =========================== */

.detail-container {
    width: 100%;
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
}

.wisata-info {
    margin-top: 25px;
}

.wisata-info h1 {
    font-size: 32px;
    color: #0077b6;
    margin-bottom: 15px;
}

.deskripsi {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 25px;
    color: #555;
}

.btn-favorit {
    background: #00a86b;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s;
}

.btn-favorit:hover {
    background: #007b55;
}





/* ========================= */
/* BUTTON                    */
/* ========================= */
.btn-success {
    background: #00a86b;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.btn-success:hover {
    background: #008d59;
}

.btn-primary {
    border: none;
    background: #0077b6;
    color: #fff;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: .2s;
}

.btn-primary:hover {
    background: #0096c7;
}

.btn-danger {
    background: #dd0606;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.btn-success:hover {
    background: #008d59;
}