/* Container utama */
.container {
    max-width: 1100px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.header h1 {
    color: #0066a6; /* biru laut */
    font-size: 26px;
    font-weight: 600;
}

/* ========================= */
/* BUTTON                    */
/* ========================= */
.btn-success {
    border: none;
    background: #00a86b;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.btn-success:hover {
    background: #008d59;
}

.btn-primary {
    border: none;
    background: #0077b6;
    color: #fff;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
    margin: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: .2s;
}

.btn-primary:hover {
    background: #0096c7;
}

.btn-danger {
    background: #dd0606;
    color: #fff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}

.btn-success:hover {
    background: #008d59;
}

/* Tabel */
.tabel-wisata {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}

.tabel-wisata thead {
    background: #0077b6;
    color: #fff;
}

.tabel-wisata th,
.tabel-wisata td {
    padding: 14px 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid #e2e8f0;
}

.tabel-wisata tbody tr:hover {
    background: #f1faff;
}

/* Gambar */
.img-wisata {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.hero-img img {
    width: 100%;
}


/* Responsif */
@media(max-width: 768px){
    .img-wisata {
        width: 90px;
        height: 60px;
    }

    .header h1 {
        font-size: 20px;
    }

    .btn-success {
        padding: 8px 14px;
    }
}


input[type="text"]{
    width: 200px;
    max-width: 300px;
    padding: 5px;

}

input[type="submit"] {
            width: 100%;
            padding: 12px;
            background: #0077b6;
            color: #fff;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-size: 15px;
            transition: 0.2s;
        }